trigger:
  - main

pr:
  - main

stages:
- stage: Build
  displayName: Build
  jobs:
  - job: build_Windows
    displayName: Build (Windows)
    pool:
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        vmImage: windows-2019
      ${{ if eq(variables['System.TeamProject'], 'internal') }}:
        name: NetCore1ESPool-Internal
        demands: ImageOverride -equals windows.vs2019.amd64

    steps:
    - checkout: self
      clean: all

    - task: NodeTool@0
      displayName: Use node 10
      inputs:
        versionSpec: "10.x"

    # restore
    - script: restore.cmd
      displayName: Restore
    # Build
    - script: build.cmd
      displayName: Build

    # Package Extension
    - script: package.cmd
      displayName: Package Extension

    # Generate SBOM
    - template: eng\generate-sbom.yml

    - task: PublishBuildArtifacts@1
      displayName: Publish extension artifact
      condition: succeeded()
      inputs:
        pathToPublish: .artifacts\packages
        artifactName: Extensions
        publishLocation: container
